<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="autotraderlog" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
